@model myFirstWeb.Models.Domain.AddClientViewModel
@{

}

<h1>Add Client</h1>

<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">ClientName</label>
        <input type="text" class="form-control" asp-for="ClientName" required>

    </div>
    <div class="mb-3">
        <label for="" class="form-label">NumberPhone</label>
        <input type="text" class="form-control" asp-for="NumberPhone" required>

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address" required>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>